.terms {
  position: relative;
  margin: 0 auto 160px;
  padding-top: 266px;
  width: 100%;
  max-width: 1175px;
  animation: none;

  h3 {
    margin-bottom: 32px;
    font-size: 56px;
    line-height: 56px;
    text-transform: uppercase;

    &:not(:first-child) {
      margin-top: 56px;
    }

    @include m($lg) {
      font-size: 40px;
      line-height: 40px;
    }

    @include m($md) {
      font-size: 32px;
      line-height: 32px;
    }
  }

  h6 {
    margin-bottom: 16px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.04em;
    color: $brown-light;
  }

  p {
    margin-bottom: 22px;
    font-family: Poppins-400, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: -0.02em;
    color: $gray-dark;
  }

  @include m($lg) {
    padding-top: 202px;
  }
}

@keyframes terms {
  0% {
    opacity: 0;
  }

  30% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.terms-block {
  opacity: 0;
  animation: terms 1.3s forwards;

  .footer__terms {
    position: absolute;
    left: 0;
    top: 152px;
    margin: 0 auto 48px;
    padding: 10px 20px 16px 14px;
    width: fit-content;
    height: fit-content;
    border-radius: 32px;
    background-color: $beige-light;
    animation: none;

    .header__buttons {
      position: relative;
      left: 0;
      opacity: 1;
      transform: none;
      animation: none;

      .button:last-child {
        @include m($sm) {
          margin-left: 9px;
        }
      }

      .button {
        padding: 0 12px;
      }
    }

    @include m($lg) {
      top: 88px;
    }

    @include m($sm) {
      padding: 8px 13px 14px 8px;
    }
  }
}
