$xl: 1180;
$lg: 999;
$md: 750;
$sm: 520;
$brown-dark: #23100f;
$brown-light: #473231;
$gray-dark: #828589;
$gray-light: #c4c5c6;
$white: #fff;
$green-dark: #008d3a;
$green-light: #cbee99;
$beige-dark: #dcba80;
$beige-light: #fbefd6;
$orange-dark: #ae8046;
$orange-light: #ffdea5;
$red-dark: #ac5167;
$red-light: #ffbda3;