.footer {
  position: relative;
  overflow: hidden;

  &__terms {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 24px;
    display: flex;
    justify-content: space-between;
    padding: 0 48px;
    width: 100%;
    animation: fade 1s;

    .button--white {
      height: 36px;

      &::before {
        height: 36px;
        background-color: $white;
      }

      &::after {
        height: 36px;
        background-color: $brown-light;
      }

      &:hover::before {
        background-color: #ffdea5;
      }
    }

    .button {
      span {
        width: max-content;
        text-transform: capitalize;
        color: #473231 !important;
      }
    }

    .last {
      margin-left: auto;

      span {
        border-bottom: 1px solid transparent;
        line-height: 14px;
        transition: 0.3s;
      }

      @include m($lg) {
        margin: 0 auto;
        width: fit-content;
      }
    }

    @include m($lg) {
      flex-direction: column;
    }

    @include m($md) {
      padding: 0 16px;
    }
  }

  &__buttons {
    position: absolute;
    left: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
    transform: translateX(-50%);

    .button {
      &:not(:last-child) {
        margin-right: 22px;
      }
    }

    @include m($lg) {
      position: relative;
      margin-bottom: 14px;
    }
  }

  &__img {
    z-index: -1;
    margin: 0 auto 92px;
    width: fit-content;
    animation: fade 1s forwards;

    @include m($xl) {
      margin: 0 auto 70px;
      padding: 0 33px;
      width: 100%;
      max-width: 500px;
    }

    @include m($lg) {
      margin: 0 auto 55px;
    }
  }

  &__bg {
    display: block;
    margin-top: -50px;
    width: 100%;
    min-height: 400px;
    object-fit: cover;

    @include m($sm) {
      display: none;
    }
  }

  &__bg-mobile {
    z-index: -1;
    display: none;
    transform: scale(1.3) translateY(15%);

    @include m($sm) {
      display: block;
    }
  }

  .headings-title {
    margin-bottom: 32px;
    padding: 5px;
    overflow: hidden;
    text-align: center;

    h2:not(:first-child) {
      top: 5px;
      margin: 0 auto;
    }

    h2 {
      min-width: max-content;
      animation: fade 1s forwards;
    }

    .stroke {
      -webkit-text-stroke: 8px $green-dark;
    }

    @include m($lg) {
      margin-bottom: 24px;
    }
  }

  h5 {
    margin: 0 auto 32px;
    padding: 0 36px;
    width: 100%;
    max-width: 548px;
    text-align: center;
    animation: fade 1s forwards;

    @include m($lg) {
      margin: 0 auto 24px;
    }
  }

  .team__social {
    z-index: 10;
    justify-content: center;
    padding: 10px 0;
    animation: fade 1s forwards;
  }

  .team__social-link {
    z-index: 10;
    border-radius: 50%;

    .pressed {
      border-radius: 50%;

      &::after {
        background-color: $beige-light;
      }

      &:hover::after {
        background-color: #ffdea5;
      }
    }
  }

  .scroll-down {
    left: auto;
    right: 48px;
    bottom: 45%;
    z-index: 10;

    img {
      transform: rotate(180deg);
    }

    span {
      left: 50%;
      top: 80px;
      transform: translateX(-50%) rotate(-90deg);
    }

    &:hover {
      img {
        transform: translate(4px, 4px) rotate(180deg);
      }
    }

    @include m($lg) {
      display: none;
    }
  }
}